html, body {
  max-width: 100%;
  overflow-x: hidden;
}
#app {
  font-size: 24px !important;
}

.logo {
  height: 30px;
  width: 203.4px;
}

.social-block {
  height: 25.6px;
  width: 25.6px;
}

div.mdl-progress::after {
  display: block;
  content: 'Authenticating...';
  margin: 30px auto;
  text-align: center;
}